[Desktop Entry]
Version=1.0
Type=Application
Name=Bay Desktop
Comment=Autocomplete for the Terminal
TryExec=bay-desktop
Exec=bay-desktop %u
Icon=bay-desktop
Terminal=false
Categories=Development;
StartupWMClass=bay-desktop
MimeType=x-scheme-handler/bay
